// Define variable defaults and import Bootstrap (order is important)
@use 'bootstrap/scss/bootstrap.scss' with (
  $primary: #0B54A1
);
// @import 'node_modules/bootstrap-vue/src/index.scss';

h1 {
  font-size: 1.3em;
}

.plain-link {
  text-decoration: none;
  color: #495057;
}